<% site.data.links.forEach(function(group) { %>
  <h4 id="<%= group.group %>" class="anchor-tag">
    <svg class="icon">
      <use xlink:href="#svg-tag"/>
    </svg><%= group.name %>
  </h4>
  <div class="group">
    <% group.links.forEach(function(links) { %>
      <div class="card">
        <a target="_blank" rel="noopener" href="<%- url_for(links.url) %>">
          <img class="lozad" data-src="<%- url_for(links.img || '/images/sitelogo/default.png') %>">
          <div>
            <strong class="title"><%= links.name %></strong>
            <span class="description"><%= links.description.trim() %></span>
          </div>
        </a>
      </div>
    <% }) %>
  </div>
<% }) %>